<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vanson.dev.instagramclone">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".controllers.InstagramApp"
        android:theme="@style/Theme.InstagramClone">
        <activity android:name=".controllers.editprofile.EditProfileActivity" />
        <activity android:name=".controllers.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.NotificationsActivity" />
        <activity android:name=".controllers.share.ShareActivity" />
        <activity android:name=".controllers.SearchActivity" />
        <activity android:name=".controllers.profile.ProfileActivity" />
        <activity
            android:name=".controllers.login.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".controllers.register.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".controllers.profilesettings.ProfileSettingActivity"/>
        <activity android:name=".controllers.addfriends.AddFriendsActivity"/>
        <activity android:name=".controllers.comments.CommentsActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="vanson.dev.instagramclone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>